
body{
    background-color: beige;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: sticky;
    top: 0;
    background-color: lightsalmon;
    padding: 8px;
}

header nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

h1{
    text-align: center;
    font-size: 3 em;
}

section {
    margin: 20px;
    padding: 20px;
}

#About{
    text-align: center;
    background-color: rgb(225, 238, 193); 
}

#Experience{
    background-color: rgb(198, 220, 175);
}

/* .Experience{
    border-bottom: 1px solid #8f60f5;
} */

.Experience-header{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

#Skills{
    background-color: rgb(198, 220, 175);
}

#Projects{
    background-color: rgb(198, 220, 175);
}

/* #Experience ul{

    list-style-type: none;
    padding: 0; 
} */

#Connect{
    background-color: rgb(165, 215, 168);
}

#Connect a{
    color: blue;
    background-color: lightskyblue;
}
#Connect ul{

    display:flex;
    justify-content:space-evenly;
    padding:0;
    list-style-type:none;
}

#Connect a:hover{
    color: purple;
    text-decoration: underline;

}

